<head>
  <meta charset="utf-8">
  <title>2-5pm</title>
  <meta name="description" content="Deliver Happy Hours">
  <meta name="viewport" content="width=device-width"/>
  <meta name="viewport" content="initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
  <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png?v1" sizes="16x16 32x32 64x64">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-precomposed.png">
  
</head>

<body>
  <div id="react-root"></div>
</body>
