<!--Download - https://github.com/lime7/responsive-html-template.git-->
<!--View - https://www.behance.net/gallery/30553501/Responsive-Email-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>2-5pm.com</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<style>
		.ReadMsgBody {width: 100%; background-color: #ffffff;}
		.ExternalClass {width: 100%; background-color: #ffffff;}

				/* Windows Phone Viewport Fix */
		@-ms-viewport {
		    width: device-width;
		}
	</style>

	<!--[if (gte mso 9)|(IE)]>
	    <style type="text/css">
	        table {border-collapse: collapse;}
	        .mso {display:block !important;}
	    </style>
	<![endif]-->

</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="background: #e7e7e7; width: 100%; height: 100%; margin: 0; padding: 0;">
	<!-- Mail.ru Wrapper -->
	<div id="mailsub">
		<!-- Wrapper -->
		<center class="wrapper" style="table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0 auto; width: 100%; max-width: 960px;">
			<!-- Old wrap -->
	        <div class="webkit">
				<table cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="padding: 0; margin: 0 auto; width: 100%; max-width: 960px;">
					<tbody>
						<tr>
							 <!-- One art (2 columns) -->
								 <table id="one__art" class="device" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center" style="width: 100%; padding: 0; margin: 0; background-image: url(https://source.unsplash.com/jUPOXXRNdcA/); background-size: 100% 100%; background-position: center center; background-repeat: no-repeat; background-color: #ECECED;">
								 <tbody>
									 <tr>
										 <td align="center">
											 <table align="left" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="padding: 0; margin: 0; background-image: url(ohttps://github.com/lime7/responsive-html-template/blob/master/index/one__art-mask.png?raw=true); background-size: 100% 100%; background-position: center center; background-repeat: no-repeat; background-color: rgba(255,255,255,.85); max-width: 480px; width:100%;">
												 <tbody>
													 <tr><td colspan="3" height="15"></td></tr>
													 <tr>
														 <td width="20" style="width:4%;"></td>
														 <td align="left">
															 <div border="0" style="border: none; line-height: 18px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 20px; margin-top: 5px">
																 {{orderId}}
															 </div>
														 </td>
														 <td width="20" style="width:4%;"></td>
													 </tr>
													 <tr>
														 <td width="20" style="width:4%;"></td>
														 <td align="left">
															 <div border="0" style="border: none; margin-top: 5px;">
																 <p style="line-height: 22px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-align: left; mso-table-lspace:0;mso-table-rspace:0;">
																	 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
																 </p>
															 </div>
														 </td>
														 <td width="20" style="width:4%;"></td>
													 </tr>
													 <tr>
														 <td width="20" style="width:4%;"></td>
														 <td align="left" height="34">
															 <div style="background-size: 100% 100%; background-position: center center; width: 125px; margin-top: 8px; margin-left: -3px">
																 <a href="#" target="_blank" width="90" height="34" align="center" bgcolor="#9de0dc" border="0" style="border: none; outline: none; display: block; height: 34px; text-decoration: none; font-size: 14px; line-height: 34px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; text-align: center;  -webkit-text-size-adjust:none; background-color:#004d00; margin: 0 auto; width: 120px;">
																	 VIEW MORE
																 </a>
															 </div>
														 </td>
														 <td width="20" style="width:4%;"></td>
													 </tr>
													 <tr><td colspan="3" height="13"></td></tr>
												 </tbody>
											 </table>
										 </td>
									 </tr>
								 </tbody>
							 </table> <!-- End One art -->

							 <!-- Icon articles (4 columns) -->
							 <table id="icon__article" class="device" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center" style="width: 100%; padding: 0; margin: 0; background-color: #ffffff">
								 <tbody>
									 <tr>
										 <td align="center">
											 <div style="display: inline-block;">
												 <table width="240" align="left" cellpadding="0" cellspacing="0" border="0" style="padding: 0; margin: 0; mso-table-lspace:0pt; mso-table-rspace:0pt;"  class="article">
												 <tbody>
													 <tr> <td colspan="3" height="40"></td> </tr>
													 <tr>
														 <td width="80" style="width: 8%;"></td>
														 <td align="center">
															 <div class="imgs">
																 <a href="#" target="_blank" border="0" style="border: none; display: block; outline: none; text-decoration: none; line-height: 60px; height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; margin: 0 30px; -webkit-text-size-adjust:none;">
																	 <img src="https://github.com/lime7/responsive-html-template/blob/master/index/ico-1.png?raw=true" alt="icon" border="0" width="60" height="60" style="border: none; display: block; outline: none; -ms-interpolation-mode: bicubic;">
																 </a>
															 </div>
															 <h3 border="0" style="border: none; line-height: 14px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-transform: uppercase; font-weight: normal; overflow: hidden; margin:17px 0 0px 0;">Lorem Ipsum
															 </h3>
															 <p style="line-height: 20px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-align: center; overflow: hidden; margin: 10px 0; mso-table-lspace:0;mso-table-rspace:0;"> This is Photoshop's version  of Lorem
															 </p>
														 </td>
														 <td width="80" style="width: 8%;"></td>
													 </tr>
													 <tr><td colspan="3" height="10"></td></tr>
													 <tr>
														 <td colspan="3" height="5" valign="top" align="center">
															 <img src="https://github.com/lime7/responsive-html-template/blob/master/index/line-2.png?raw=true" alt="line" border="0" width="960" height="5" style="border: none; outline: none; max-width: 960px; width: 100%; -ms-interpolation-mode: bicubic;" >
														 </td>
													 </tr>
												 </tbody>
												 </table>
											 </div>

											 <div style="display: inline-block; margin-left: -4px;">
												 <table width="240" align="left" cellpadding="0" cellspacing="0" border="0" style="padding: 0; margin: 0; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="article">
												 <tbody>
													 <tr> <td colspan="3" height="40"></td> </tr>
													 <tr>
														 <td width="80" style="width: 8%;"></td>
														 <td align="center">
															 <div class="imgs">
																 <a href="#" target="_blank" border="0" style="border: none; display: block; outline: none; text-decoration: none; line-height: 60px; height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; margin: 0 30px; -webkit-text-size-adjust:none;">
																	 <img src="https://github.com/lime7/responsive-html-template/blob/master/index/ico-2.png?raw=true" alt="icon" border="0" width="60" height="60" style="border: none; display: block; outline: none; -ms-interpolation-mode: bicubic;">
																 </a>
															 </div>
															 <h3 border="0" style="border: none; line-height: 14px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-transform: uppercase; font-weight: normal; overflow: hidden; margin:17px 0 0px 0;">Lorem Ipsum
															 </h3>
															 <p style="line-height: 20px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-align: center; overflow: hidden; margin: 10px 0; mso-table-lspace:0;mso-table-rspace:0;"> This is Photoshop's version  of Lorem
															 </p>
														 </td>
														 <td width="80" style="width: 8%;"></td>
													 </tr>
													 <tr><td colspan="3" height="10"></td></tr>
													 <tr>
														 <td colspan="3" height="5" valign="top" align="center">
															 <img src="https://github.com/lime7/responsive-html-template/blob/master/index/line-2.png?raw=true" alt="line" border="0" width="960" height="5" style="border: none; outline: none; max-width: 960px; width: 100%; -ms-interpolation-mode: bicubic;" >
														 </td>
													 </tr>
												 </tbody>
												 </table>
											 </div>

											 <div style="display: inline-block; margin-left: -4px;">
												 <table width="240" align="left" cellpadding="0" cellspacing="0" border="0" style="padding: 0; margin: 0; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="article">
												 <tbody>
													 <tr> <td colspan="3" height="40"></td> </tr>
													 <tr>
														 <td width="80" style="width: 8%;"></td>
														 <td align="center">
															 <div class="imgs">
																 <a href="#" target="_blank" border="0" style="border: none; display: block; outline: none; text-decoration: none; line-height: 60px; height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; margin: 0 30px; -webkit-text-size-adjust:none;">
																	 <img src="https://github.com/lime7/responsive-html-template/blob/master/index/ico-3.png?raw=true" alt="icon" border="0" width="60" height="60" style="border: none; display: block; outline: none; -ms-interpolation-mode: bicubic;">
																 </a>
															 </div>
															 <h3 border="0" style="border: none; line-height: 14px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-transform: uppercase; font-weight: normal; overflow: hidden; margin:17px 0 0px 0;">Lorem Ipsum
															 </h3>
															 <p style="line-height: 20px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-align: center; overflow: hidden; margin: 10px 0; mso-table-lspace:0;mso-table-rspace:0;"> This is Photoshop's version  of Lorem
															 </p>
														 </td>
														 <td width="80" style="width: 8%;"></td>
													 </tr>
													 <tr><td colspan="3" height="10"></td></tr>
													 <tr>
														 <td colspan="3" height="5" valign="top" align="center">
															 <img src="https://github.com/lime7/responsive-html-template/blob/master/index/line-2.png?raw=true" alt="line" border="0" width="960" height="5" style="border: none; outline: none; max-width: 960px; width: 100%; -ms-interpolation-mode: bicubic;" >
														 </td>
													 </tr>
												 </tbody>
												 </table>
											 </div>

											 <div style="display: inline-block; margin-left: -4px;">
												 <table width="240" align="left" cellpadding="0" cellspacing="0" border="0" style="padding: 0; margin: 0; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="article">
												 <tbody>
													 <tr> <td colspan="3" height="40"></td> </tr>
													 <tr>
														 <td width="80" style="width: 8%;"></td>
														 <td align="center">
															 <div class="imgs">
																 <a href="#" target="_blank" border="0" style="border: none; display: block; outline: none; text-decoration: none; line-height: 60px; height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; margin: 0 30px; -webkit-text-size-adjust:none;">
																	 <img src="https://github.com/lime7/responsive-html-template/blob/master/index/ico-4.png?raw=true" alt="icon" border="0" width="60" height="60" style="border: none; display: block; outline: none; -ms-interpolation-mode: bicubic;">
																 </a>
															 </div>
															 <h3 border="0" style="border: none; line-height: 14px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-transform: uppercase; font-weight: normal; overflow: hidden; margin:17px 0 0px 0;">Lorem Ipsum
															 </h3>
															 <p style="line-height: 20px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-align: center; overflow: hidden; margin: 10px 0; mso-table-lspace:0;mso-table-rspace:0;">
																 {{orderId}}
															 </p>
														 </td>
														 <td width="80" style="width: 8%;"></td>
													 </tr>
													 <tr><td colspan="3" height="10"></td></tr>
													 <tr>
														 <td colspan="3" height="5" valign="top" align="center">
															 <img src="https://github.com/lime7/responsive-html-template/blob/master/index/line-2.png?raw=true" alt="line" border="0" width="960" height="5" style="border: none; outline: none; max-width: 960px; width: 100%; -ms-interpolation-mode: bicubic; " >
														 </td>
													 </tr>
												 </tbody>
												 </table>
											 </div>
										 </td>
									 </tr>
								 </tbody>
							 </table> <!-- End Icon articles -->

							<td align="center">
								<!-- Start Section (1 column) -->
								<table id="intro" cellpadding="0" cellspacing="0" border="0" bgcolor="#4F6331" align="center" style="width: 100%; padding: 0; margin: 0; background-image: url(https://source.unsplash.com/slyyeNC6qzY/); background-size: auto 100%; background-position: center center; background-repeat: no-repeat; background-color: #080e02">
									<tbody >
									<!-- Main Title -->
										<tr>
											<td height="360"></td>
										</tr>
										<!-- Line 1 -->
										<tr>
											<td colspan="3" height="20" valign="bottom" align="center">
												<img src="https://github.com/lime7/responsive-html-template/blob/master/index/line-1.png?raw=true" alt="line" border="0" width="464" height="5" style="border: none; outline: none; max-width: 464px; width: 100%; -ms-interpolation-mode: bicubic;" >
											</td>
										</tr>
										<!-- Meta title -->
										<tr>
											<td colspan="3">
												<table cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; margin: 0; width: 100%;">
													<tbody>
															<div border="0" style="border: none; height: 40px;">
																<p style="font-size: 18px; line-height: 24px; margin-top: 10px; font-family: Verdana, Geneva, sans-serif; color: #ffffff; text-align: center; mso-table-lspace:0;mso-table-rspace:0;">
																	If you'd like us to serve you from a specific restaurant please let us know.
																</p>
																</div>
																<td align="center">
																	<div style="background-size: 100% 100%; background-position: center center; width: 160px; margin-bottom: 50px;">
																		<a href="#" target="_blank" width="160" height="52" border="0" bgcolor="#004d00" style="border: none; outline: none; display: block; width:160px; height: 52px; text-transform: uppercase; text-decoration: none; font-size: 17px; line-height: 52px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; text-align: center; background-color: #004d00;  -webkit-text-size-adjust:none;">
																			Let us know
																		</a>
																	</div>
															</td>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table><!-- End Start Section -->
								<!-- Icon articles (4 columns) -->
								<table id="icon__article" class="device" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center" style="width: 100%; padding: 0; margin: 0; background-color: #ffffff">
									<tbody>
										<tr>
											<td align="center">
												<div style="display: inline-block;">
													<table width="240" align="left" cellpadding="0" cellspacing="0" border="0" style="padding: 0; margin: 0; mso-table-lspace:0pt; mso-table-rspace:0pt;"  class="article">
													<tbody>
														<tr> <td colspan="3" height="40"></td> </tr>
														<tr>
															<td width="80" style="width: 8%;"></td>
															<td align="center">
																<div class="imgs">
																	<a href="#" target="_blank" border="0" style="border: none; display: block; outline: none; text-decoration: none; line-height: 60px; height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; margin: 0 30px; -webkit-text-size-adjust:none;">
																		<img src="https://github.com/lime7/responsive-html-template/blob/master/index/ico-1.png?raw=true" alt="icon" border="0" width="60" height="60" style="border: none; display: block; outline: none; -ms-interpolation-mode: bicubic;">
																	</a>
																</div>
																<h3 border="0" style="border: none; line-height: 14px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-transform: uppercase; font-weight: normal; overflow: hidden; margin:17px 0 0px 0;">Lorem Ipsum
																</h3>
																<p style="line-height: 20px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-align: center; overflow: hidden; margin: 10px 0; mso-table-lspace:0;mso-table-rspace:0;"> This is Photoshop's version  of Lorem
																</p>
															</td>
															<td width="80" style="width: 8%;"></td>
														</tr>
														<tr><td colspan="3" height="10"></td></tr>
														<tr>
															<td colspan="3" height="5" valign="top" align="center">
																<img src="https://github.com/lime7/responsive-html-template/blob/master/index/line-2.png?raw=true" alt="line" border="0" width="960" height="5" style="border: none; outline: none; max-width: 960px; width: 100%; -ms-interpolation-mode: bicubic;" >
															</td>
														</tr>
													</tbody>
													</table>
												</div>

												<div style="display: inline-block; margin-left: -4px;">
													<table width="240" align="left" cellpadding="0" cellspacing="0" border="0" style="padding: 0; margin: 0; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="article">
													<tbody>
														<tr> <td colspan="3" height="40"></td> </tr>
														<tr>
															<td width="80" style="width: 8%;"></td>
															<td align="center">
																<div class="imgs">
																	<a href="#" target="_blank" border="0" style="border: none; display: block; outline: none; text-decoration: none; line-height: 60px; height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; margin: 0 30px; -webkit-text-size-adjust:none;">
																		<img src="https://github.com/lime7/responsive-html-template/blob/master/index/ico-2.png?raw=true" alt="icon" border="0" width="60" height="60" style="border: none; display: block; outline: none; -ms-interpolation-mode: bicubic;">
																	</a>
																</div>
																<h3 border="0" style="border: none; line-height: 14px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-transform: uppercase; font-weight: normal; overflow: hidden; margin:17px 0 0px 0;">Lorem Ipsum
																</h3>
																<p style="line-height: 20px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-align: center; overflow: hidden; margin: 10px 0; mso-table-lspace:0;mso-table-rspace:0;"> This is Photoshop's version  of Lorem
																</p>
															</td>
															<td width="80" style="width: 8%;"></td>
														</tr>
														<tr><td colspan="3" height="10"></td></tr>
														<tr>
															<td colspan="3" height="5" valign="top" align="center">
																<img src="https://github.com/lime7/responsive-html-template/blob/master/index/line-2.png?raw=true" alt="line" border="0" width="960" height="5" style="border: none; outline: none; max-width: 960px; width: 100%; -ms-interpolation-mode: bicubic;" >
															</td>
														</tr>
													</tbody>
													</table>
												</div>

												<div style="display: inline-block; margin-left: -4px;">
													<table width="240" align="left" cellpadding="0" cellspacing="0" border="0" style="padding: 0; margin: 0; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="article">
													<tbody>
														<tr> <td colspan="3" height="40"></td> </tr>
														<tr>
															<td width="80" style="width: 8%;"></td>
															<td align="center">
																<div class="imgs">
																	<a href="#" target="_blank" border="0" style="border: none; display: block; outline: none; text-decoration: none; line-height: 60px; height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; margin: 0 30px; -webkit-text-size-adjust:none;">
																		<img src="https://github.com/lime7/responsive-html-template/blob/master/index/ico-3.png?raw=true" alt="icon" border="0" width="60" height="60" style="border: none; display: block; outline: none; -ms-interpolation-mode: bicubic;">
																	</a>
																</div>
																<h3 border="0" style="border: none; line-height: 14px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-transform: uppercase; font-weight: normal; overflow: hidden; margin:17px 0 0px 0;">Lorem Ipsum
																</h3>
																<p style="line-height: 20px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-align: center; overflow: hidden; margin: 10px 0; mso-table-lspace:0;mso-table-rspace:0;"> This is Photoshop's version  of Lorem
																</p>
															</td>
															<td width="80" style="width: 8%;"></td>
														</tr>
														<tr><td colspan="3" height="10"></td></tr>
														<tr>
															<td colspan="3" height="5" valign="top" align="center">
																<img src="https://github.com/lime7/responsive-html-template/blob/master/index/line-2.png?raw=true" alt="line" border="0" width="960" height="5" style="border: none; outline: none; max-width: 960px; width: 100%; -ms-interpolation-mode: bicubic;" >
															</td>
														</tr>
													</tbody>
													</table>
												</div>

												<div style="display: inline-block; margin-left: -4px;">
													<table width="240" align="left" cellpadding="0" cellspacing="0" border="0" style="padding: 0; margin: 0; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="article">
													<tbody>
														<tr> <td colspan="3" height="40"></td> </tr>
														<tr>
															<td width="80" style="width: 8%;"></td>
															<td align="center">
																<div class="imgs">
																	<a href="#" target="_blank" border="0" style="border: none; display: block; outline: none; text-decoration: none; line-height: 60px; height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; margin: 0 30px; -webkit-text-size-adjust:none;">
																		<img src="https://github.com/lime7/responsive-html-template/blob/master/index/ico-4.png?raw=true" alt="icon" border="0" width="60" height="60" style="border: none; display: block; outline: none; -ms-interpolation-mode: bicubic;">
																	</a>
																</div>
																<h3 border="0" style="border: none; line-height: 14px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-transform: uppercase; font-weight: normal; overflow: hidden; margin:17px 0 0px 0;">Lorem Ipsum
																</h3>
																<p style="line-height: 20px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-align: center; overflow: hidden; margin: 10px 0; mso-table-lspace:0;mso-table-rspace:0;">
																	{{orderId}}
																</p>
															</td>
															<td width="80" style="width: 8%;"></td>
														</tr>
														<tr><td colspan="3" height="10"></td></tr>
														<tr>
															<td colspan="3" height="5" valign="top" align="center">
																<img src="https://github.com/lime7/responsive-html-template/blob/master/index/line-2.png?raw=true" alt="line" border="0" width="960" height="5" style="border: none; outline: none; max-width: 960px; width: 100%; -ms-interpolation-mode: bicubic; " >
															</td>
														</tr>
													</tbody>
													</table>
												</div>
											</td>
										</tr>
										<tr> <td colspan="5" height="40"></td> </tr>
									</tbody>
								</table> <!-- End Icon articles -->
								<!-- News article (2 columns) -->
								<table id="news__article" class="device" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center" style="width: 100%; padding: 0; margin: 0; background-color: #ffffff">
									<tbody>
										<tr>
											<td width="90" style="width: 9.3%;"></td>
											<td align="center">
												<div style="display: inline-block;">
													<table class="news__art" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff" style="padding: 0; margin: 0; mso-table-lspace:0pt; mso-table-rspace:0pt;">
														<tbody>
															<tr>
																<td width="80" style="width:10%;"></td>
																<td colspan="2" align="center" width="300">
																	<a href="#" target="_blank" border="0" style="border: none; display: block; outline: none; text-decoration: none; line-height: 220px; height: 220px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">
																		<img src="https://github.com/lime7/responsive-html-template/blob/master/index/pic-1.png?raw=true" alt="icon" border="0" width="300" height="220" style="border: none; display: block; outline: none; -ms-interpolation-mode: bicubic;">
																	</a>
																</td>
																<td width="80" style="width:10%;"></td>
															</tr>
															<tr> <td colspan="4" height="15"></td> </tr>
															<tr>
																<td width="80" style="width:10%;"></td>
																<td align="left">
																	<div border="0" style="border: none; line-height: 22px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 16px;">
																		Lorem Ipsum
																	</div>
																</td>
																<td align="right">
																	<a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 18px; font-size: 12px; color: #b7b7b7; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">21 aug</a>
																	<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
																	<a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 18px; font-size: 12px; color: #b7b7b7; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">Author</a>
																</td>
																<td width="80" style="width:10%;"></td>
															</tr>

															<tr>
																<td width="80" style="width:10%;"></td>
																<td colspan="2" width="300">
																	<div border="0" style="border: none; line-height: 18px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 13px;">
																		This is Photoshop's version  of Lorem Ipsum. Proin <a href="#" target="_blank" border="0" style="border: none; outline: none; line-height: 18px; font-size: 13px; color: #31796e; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">more ... </a>
																	</div>
																</td>
																<td width="80" style="width:10%;"></td>
															</tr>
															<tr> <td colspan="4" height="40"></td> </tr>
														</tbody>
													</table>
												</div>

												<div style="display: inline-block;">
													<table class="news__art" align="center" cellpadding="5" cellspacing="0" border="0" bgcolor="#ffffff" style="padding: 0; margin: 0; mso-table-lspace:0pt; mso-table-rspace:0pt; ">
														<tbody>
															<tr>
																<td width="80" style="width:10%;"></td>
																<td colspan="2" align="center" width="300">
																	<a href="#" target="_blank" border="0" style="border: none; display: block; outline: none; text-decoration: none; line-height: 220px; height: 220px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">
																		<img src="https://github.com/lime7/responsive-html-template/blob/master/index/pic-2.png?raw=true" alt="icon" border="0" width="300" height="220" style="border: none; display: block; outline: none; -ms-interpolation-mode: bicubic;">
																	</a>
																</td>
																<td width="80" style="width:10%;"></td>
															</tr>
															<tr> <td colspan="4" height="15"></td> </tr>
															<tr>
																<td width="80" style="width:10%;"></td>
																<td align="left">
																	<div border="0" style="border: none; line-height: 22px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 16px;">
																		{{customerName}}
																	</div>
																</td>
																<td align="right">
																	<a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 18px; font-size: 12px; color: #b7b7b7; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">21 aug</a>
																	<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
																	<a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 18px; font-size: 12px; color: #b7b7b7; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">Author</a>
																</td>
																<td width="80" style="width:10%;"></td>
															</tr>

															<tr>
																<td width="80" style="width:10%;"></td>
																<td colspan="2" width="300">
																	<div border="0" style="border: none; line-height: 18px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 13px;">
																		This is version  of Lorem Ipsum. Proin <a href="#" target="_blank" border="0" style="border: none; outline: none; line-height: 18px; font-size: 13px; color: #31796e; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">more ... </a>
																	</div>
																</td>
																<td width="80" style="width:10%;"></td>
															</tr>
															<tr> <td colspan="4" height="40"></td> </tr>
														</tbody>
													</table>
												</div>
											</td>
											<td width="90" style="width: 9.3%;"></td>
										</tr>
									</tbody>
								</table> <!-- End News article -->
								<!-- One art (2 columns) -->
								<table id="one__art" class="device" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center" style="width: 100%; padding: 0; margin: 0; background-image: url(https://source.unsplash.com/jUPOXXRNdcA/); background-size: 100% 100%; background-position: center center; background-repeat: no-repeat; background-color: #ECECED;">
									<tbody>
										<tr>
											<td align="center">
												<table align="right" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="padding: 0; margin: 0; background-image: url(ohttps://github.com/lime7/responsive-html-template/blob/master/index/one__art-mask.png?raw=true); background-size: 100% 100%; background-position: center center; background-repeat: no-repeat; background-color: rgba(255,255,255,.85); max-width: 480px; width:100%;">
													<tbody>
														<tr><td colspan="3" height="15"></td></tr>
														<tr>
															<td width="20" style="width:4%;"></td>
															<td align="left">
																<div border="0" style="border: none; line-height: 18px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 20px; margin-top: 5px">
																	{{orderId}}
																</div>
															</td>
															<td width="20" style="width:4%;"></td>
														</tr>
														<tr>
															<td width="20" style="width:4%;"></td>
															<td align="left">
																<div border="0" style="border: none; margin-top: 5px;">
																	<p style="line-height: 22px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-align: left; mso-table-lspace:0;mso-table-rspace:0;">
																		This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
																	</p>
																</div>
															</td>
															<td width="20" style="width:4%;"></td>
														</tr>
														<tr>
															<td width="20" style="width:4%;"></td>
															<td align="left" height="34">
																<div style="background-size: 100% 100%; background-position: center center; width: 125px; margin-top: 8px; margin-left: -3px">
																	<a href="#" target="_blank" width="90" height="34" align="center" bgcolor="#9de0dc" border="0" style="border: none; outline: none; display: block; height: 34px; text-decoration: none; font-size: 14px; line-height: 34px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; text-align: center;  -webkit-text-size-adjust:none; background-color:#004d00; margin: 0 auto; width: 120px;">
																		VIEW MORE
																	</a>
																</div>
															</td>
															<td width="20" style="width:4%;"></td>
														</tr>
														<tr><td colspan="3" height="13"></td></tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table> <!-- End One art -->
								<!-- Footer -->
								<table id="news__article" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center" style="width: 100%; padding: 0; margin: 0; background-color: #ffffff">
									<tbody>
										<tr><td colspan="3" height="23"></td></tr>
										<tr>
											<td align="center">
												<div border="0" style="border: none; line-height: 14px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px;">
													2017 © <a href="http://semenchenkov.github.io/" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 14px; font-size: 16px; color: #727272; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">2-5pm.com</a>
												</div>
												<div style="text-align: center; max-width: 200px; width: 100%; margin-top: 10px;>
													<span>&nbsp;</span>
													<a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">
														<img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/facebook.png" alt="facebook.com" border="0" width="23" height="23" style="border: none; outline: none; -ms-interpolation-mode: bicubic;">
													</a>
													<span>&nbsp;</span>
													<a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">
														<img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/pinterest.png" alt="google.com" border="0" width="23" height="23" style="border: none; outline: none; -ms-interpolation-mode: bicubic;">
													</a>
													<span>&nbsp;</span>
													<a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">
														<img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/twitter.png" alt="twitter" border="0" width="23" height="23" style="border: none; outline: none; -ms-interpolation-mode: bicubic;">
													</a>
													<span>&nbsp;</span>
													<a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">
														<img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/linkedin.png" alt="twitter" border="0" width="23" height="23" style="border: none; outline: none; -ms-interpolation-mode: bicubic;">
													</a>
													<span>&nbsp;</span>
													<a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">
														<img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/youtube.png" alt="google.com" border="0" width="23" height="23" style="border: none; outline: none; -ms-interpolation-mode: bicubic;">
													</a>
												</div>
											</td>
										</tr>
										<tr><td colspan="3" height="23"></td></tr>
									</tbody>
								</table> <!-- End Footer -->
							</td>
						</tr>
					</tbody>
				</table>
			</div> <!-- End Old wrap -->
		</center> <!-- End Wrapper -->
	</div> <!-- End Mail.ru Wrapper -->
</body>

</html>
