<!--Download - https://github.com/lime7/responsive-html-template.git-->
<!--View - https://www.behance.net/gallery/30553501/Responsive-Email-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>2-5pm.com</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<style>
		.ReadMsgBody {width: 100%; background-color: #ffffff;}
		.ExternalClass {width: 100%; background-color: #ffffff;}

				/* Windows Phone Viewport Fix */
		@-ms-viewport {
		    width: device-width;

		}
		a:hover {
    background: #FFF;
    color: #0f8205;
    }
	</style>

	<!--[if (gte mso 9)|(IE)]>
	    <style type="text/css">
	        table {border-collapse: collapse;}
	        .mso {display:block !important;}
	    </style>
	<![endif]-->

</head>
<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="background: #e7e7e7; width: 100%; height: 100%; margin: 0; padding: 0;">
	<!-- Mail.ru Wrapper -->
	<div id="mailsub">
		<!-- Wrapper -->
		<center class="wrapper" style="table-layout: fixed; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0 auto; width: 100%; max-width: 960px;">
			<!-- Old wrap -->
	     <div class="webkit">
				<table cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="padding: 0; margin: 0 auto; width: 100%; max-width: 960px;">
					<tbody>
						<tr>

							<td align="center">

								<!-- One art (2 columns) -->
								<table id="one__art" class="device" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center" style={{messageStyle}}>
									<tbody>
										<tr>
											<td align="center">
												<table align="left" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="padding: 0; margin: 0; background-image: url(ohttps://github.com/lime7/responsive-html-template/blob/master/index/one__art-mask.png?raw=true); background-size: 100% 100%; background-position: center center; background-repeat: no-repeat; background-color: rgba(255,255,255,.85); max-width: 480px; width:100%;">
													<tbody>
														<tr><td colspan="3" height="15"></td></tr>
														<tr>
															<td width="20" style="width:4%;"></td>
													<td align="left">
														<div border="0" style="border: none; line-height: 18px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 20px; margin-top: 5px">
															{{greeting}}
														</div>
													</td>
													<td width="20" style="width:4%;"></td>
												</tr>
												<tr>
													<td width="20" style="width:4%;"></td>
													<td align="left">
														<div border="0" style="border: none; margin-top: 5px;">
															<p style="line-height: 22px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-align: left; mso-table-lspace:0;mso-table-rspace:0;">
																{{message}}
															</p>
														</div>
													</td>
													<td width="20" style="width:4%;"></td>
												</tr>
												<tr>
													<td width="20" style="width:4%;"></td>
													<td align="right" height="34">
														<div style="background-size: 100% 100%; background-position: center center; width: 125px; margin-top: 8px;">
															<a href={{linkToMenu}} target="_blank" width="90" height="34" align="center" bgcolor="#9de0dc" border="0" style="border: none; outline: none; display: block; height: 34px; text-decoration: none; font-size: 14px; line-height: 34px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; text-align: center;  -webkit-text-size-adjust:none; background-color:#004d00; margin: 0 auto; width: 120px;">
																View Menu
															</a>
														</div>
													</td>
													<td width="20" style="width:4%;"></td>
												</tr>
												<tr><td colspan="3" height="13"></td></tr>
											</tbody>
										</table>
									</td>
									 </tr>
									 </tbody>
									</table>
								<!-- End One art -->
								<!-- Start Section (1 column) -->
								<table id="intro" cellpadding="0" cellspacing="0" border="0" bgcolor="#4F6331" align="center" style={{mainImageStyle}}>
									<tbody >
									<!-- Main Title -->
										<tr>
											<td height="460"></td>
										</tr>
                    <tr>
											<td colspan="3" height="60" align="center">
												<div border="0" style="border: none; line-height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; font-size: 52px; text-transform: uppercase; font-weight: bolder;">{{restaurantName}}</div>
											</td>
										</tr>
										<!-- Line 1 -->
										<tr>
											<td colspan="3" height="20" valign="bottom" align="center">
												<img src="https://github.com/lime7/responsive-html-template/blob/master/index/line-1.png?raw=true" alt="line" border="0" width="760" height="5" style="border: none; outline: none; max-width: 760px; width: 100%; -ms-interpolation-mode: bicubic;" >
											</td>
										</tr>
										<!-- Meta title -->
										<tr>
											<td colspan="3">
												<table cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; margin: 0; width: 100%;">
													<tbody>
															  <div border="0" style="border: none; height: 100px;">
																	<div style="border: none; height: 50px;">
																		<p style="font-size: 18px; line-height: 24px; margin-top: 10px; padding-left: 20px; padding-right: 20px; font-family: Verdana, Geneva, sans-serif; color: #ffffff; text-align: center; mso-table-lspace:0;mso-table-rspace:0;">
																		If you want us to serve you the menus from your local favorite restaurants <a href="http://www.2-5pm.com/restaurants/suggest" style="color: #1af707"> click here to suggest.</a>
																		</p>
																  </div>
																</div>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table><!-- End Start Section -->

								<!-- One art (2 columns) -->
								<table id="one__art_again" class="device" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center" style={{newsStyle}}>
									<tbody>
										<tr>
											<td align="center">
												<table align="right" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" style="padding: 0; margin: 0; background-image: url(https://github.com/lime7/responsive-html-template/blob/master/index/one__art-mask.png?raw=true); background-size: 100% 100%; background-position: center center; background-repeat: no-repeat; background-color: rgba(255,255,255,.85); max-width: 480px; width:100%;">
													<tbody>
														<tr><td colspan="3" height="15"></td></tr>
														<tr>
															<td width="20" style="width:4%;"></td>
															<td align="left">
																<div border="0" style="border: none; line-height: 18px; color: #212121; font-family: Verdana, Geneva, sans-serif; font-size: 20px; margin-top: 5px">
																	{{newsTitle}}
																</div>
															</td>
															<td width="20" style="width:4%;"></td>
														</tr>
														<tr>
															<td width="20" style="width:4%;"></td>
															<td align="left">
																<div border="0" style="border: none; margin-top: 5px;">
																	<p style="line-height: 22px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; text-align: left; mso-table-lspace:0;mso-table-rspace:0;">
																		{{newsHighlight}}
																	</p>
																</div>
															</td>
															<td width="20" style="width:4%;"></td>
														</tr>
														<tr>
															<td width="20" style="width:4%;"></td>
															<td align="right" height="34">
																<div style="background-size: 100% 100%; background-position: center center; width: 125px; margin-top: 8px; margin-left: -5px;">
																	<a href={{linkToNews}} target="_blank" width="90" height="34" align="center" bgcolor="#9de0dc" border="0" style="border: none; outline: none; display: block; height: 34px; text-decoration: none; font-size: 14px; line-height: 34px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; text-align: center;  -webkit-text-size-adjust:none; background-color:#004d00; margin: 0 auto; width: 120px;">
																		Read more...
																	</a>
																</div>
															</td>
															<td width="20" style="width:4%;"></td>
														</tr>
														<tr><td colspan="3" height="13"></td></tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table> <!-- End One art -->
								<!-- Footer -->
								<table id="news__article" cellpadding="0" cellspacing="0" border="0" bgcolor="#ffffff" align="center" style="width: 100%; padding: 0; margin: 0; background-color: #ffffff">
                  <tbody>
                    <tr><td colspan="3" height="23"></td></tr>
                    <tr>
                      <td align="left">
                        <div border="0" style="border: none; line-height: 14px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; margin-left: 20px;">
                          2017 © <a href="http://www.2-5pm.com" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 14px; font-size: 16px; color: #004d00; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">2-5pm.com</a>
                        </div>
                        <td align="right">
                         <div style="text-align: center; max-width: 200px; width: 100%; margin-top: 10px; margin-right: 10px;">
                          <span>&nbsp;</span>
                          <a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">
                            <img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/facebook.png" alt="facebook.com" border="0" width="23" height="23" style="border: none; outline: none; -ms-interpolation-mode: bicubic;">
                          </a>
                          <span>&nbsp;</span>
                          <a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">
                            <img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/pinterest.png" alt="google.com" border="0" width="23" height="23" style="border: none; outline: none; -ms-interpolation-mode: bicubic;">
                          </a>
                          <span>&nbsp;</span>
                          <a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">
                            <img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/twitter.png" alt="twitter" border="0" width="23" height="23" style="border: none; outline: none; -ms-interpolation-mode: bicubic;">
                          </a>
                          <span>&nbsp;</span>
                          <a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">
                            <img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/linkedin.png" alt="twitter" border="0" width="23" height="23" style="border: none; outline: none; -ms-interpolation-mode: bicubic;">
                          </a>
                          <span>&nbsp;</span>
                          <a href="#" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 60px; color: #ffffff; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">
                            <img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/youtube.png" alt="google.com" border="0" width="23" height="23" style="border: none; outline: none; -ms-interpolation-mode: bicubic;">
                          </a>
                        </div>
                        </td>
                      </td>
                    </tr>
                    <tr><td colspan="3" height="23"></td></tr>
                  </tbody>
								</table> <!-- End Footer -->
							</td>
						</tr>
					</tbody>
				</table>
			</div> <!-- End Old wrap -->
		</center> <!-- End Wrapper -->
		<div border="0" style="border: none; line-height: 14px; color: #727272; font-family: Verdana, Geneva, sans-serif; font-size: 16px; width: 100%; padding: 0; margin: 0;" align="left">
			<p style="padding-left: 10px; padding-top: 20px;">If this email is an error and you do not want to receive emails from 2-5pm please <a href="http://www.2-5pm.com/unsubscribe" target="_blank" border="0" style="border: none; outline: none; text-decoration: none; line-height: 14px; font-size: 16px; color: #004d00; font-family: Verdana, Geneva, sans-serif; -webkit-text-size-adjust:none;">unsubscribe</a></p>
		</div>
		<hr>
	</div> <!-- End Mail.ru Wrapper -->
</body>

</html>
