.menu-details-wrapper {
  background-color: red;
}
.side-menu-details.affix-top {
   position: static;
   margin-top:30px;
   width:228px;
 }

.side-menu-details.affix {
   position: fixed;
   top:70px;
   width:228px;
 }
