@import "base/extends";
@import "base/animations";
@import "base/forms";

@import "module/Loading";
@import "module/Login";
@import "module/PageHeader";
@import "module/Signup";
@import "module/Index";
@import "module/CreditCard";
@import "module/SideMenuDetails";
@import "state/Navbar";



a {
    color: #004d00 !important;
    text-decoration: none;
}

a:hover {
    color: #00b300 !important;
    text-decoration: none;
}


.media-controls {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-right: 10px !important;

  // push controls above fullscreen video
  position: relative;
  z-index: 2147483647;

  // space children
  * + * {
    margin-left: 12px;
  }
}
